{% if user.is_authenticated %}
<form id="logoutForm" action="/logout/" method="post" class="navbar-right">
    {% csrf_token %}
    <ul class="nav navbar-nav navbar-right">
        <li><span class="navbar-text" style="margin-right:20px">Hello {{ user.username }}!</span></li>
        <li><a class="btn btn-info" href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
</form>

{% else %}

<ul class="nav navbar-nav navbar-right">
    <li><a class="btn btn-info" href="{% url 'login' %}">Log in</a></li>
</ul>

{% endif %}
